.text1{
    color: indianred;
   font-size: 60px;
   position: relative;
   top: -10px;
   left: 0px; 
}

.imag1{
    width: 50%;
    height: 650px;
    position: relative;
    left: 620px;
    bottom: 260px;
}

.imag2{
    background-image: url(assets/glass.jpg);
    background-repeat: no-repeat;
    width: 99.5%;
    height: 650px;
    position: relative;
    top:450px;
    left: 4px;
}

.divA{
    text-align: center;
    position: relative;
    top: 520px;
}

.divB{
    background-image: url(assets/eye2.jpg);
    width: 280px;
    height: 300px;
    position: relative;
    top: 660px;
    left: 180px;
}

.divC{
    background-image: url(assets/world.webp);
    width: 280px;
    height: 300px;
    position: relative;
    top: 360px;
    left: 470px;
}

.divD{
    background-image: url(assets/desktop.jpg);
    width: 280px;
    height: 300px;
    position: relative;
    top: 60px;
    left: 763px; 
}

.divE{
    background-image: url(assets/paint.png);
    width: 280px;
    height: 300px;
    position: relative;
    top: -240px;
    left: 1055px; 
}

.divF{
    width: 500px;
    position: relative;
    left: 780px;
    top: -30px;
}

.divG{
    width: 500px;
    position: relative;
    left: 150px;
    top: 420px;
}

.divH{
    position: relative;
    top: 400px;
    left: 500px;
}

.title{
    width: 100%;
    text-align: center;
    position: relative;
    top: 850px;
}

.paragraphe{
    position: absolute;
    top: 360px;
    width: 470px;
}

.text2{
    position: relative;
    top: 430px;
}

.text3{
    position: relative;
    top: 100px;
}

.contain{
    position: relative;
    top: 950px;
    width: 92%;
}

.titre2{
    width: 80%;
    position: relative;
    top: 1350px;
    left: 300px;
}

.contain2{
    background-image: url(assets/paint.png);
    width: 1518.9px;
    height: 450px;
    position: relative;
    top: 1700px;
}
